# Variables d'environnement frontend
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
NEXT_PUBLIC_GEOSERVER_URL=https://gis.virunga.org/geoserver
NEXT_PUBLIC_SITE_NAME=Virunga WebGIS
NEXT_PUBLIC_DEFAULT_LOCALE=fr
